<div class="container-fluid p-0">
    <div class="divider"></div>
</div>
<div class="container">
    <footer class="footer">
        <div class="row mt-4 justify-content-between align-items-center">
            <div class="col-sm-4">
                <div class="logo mx-auto mt-3 mt-sm-0">
                    <img src="/images/logo/Logo.svg" alt="logo">
                </div>
            </div>
            <div class="col-sm-4 mt-3 mt-sm-0 d-flex flex-column align-items-center f-24 contacts">
                <a href="">teechnol@gmail.com</a>
                <a href="">teechnol@gmail.com</a>
            </div>
            <div class="col-sm-4 mt-3 mt-sm-0">
                <div class="contacts d-flex flex-column align-items-center f-24">
                    <a href="">+7(900)800-55-33</a>
                    <a href="">+7(900)800-55-33</a>
                </div>
            </div>
        </div>
    </footer>
</div>