<div class="row">
    <div class="col-xl-12 col-lg-12 pr-xl-5 pr-0 pl-xl-5 pl-0 pr-lg-0 pl-lg-0 order-xl-0 order-lg-0 order-5">
        <div class="d-flex justify-content-between flex-xl-row flex-lg-row flex-column align-items-center" action="">
            <div class="input-section d-flex justify-content-between">
                <label for="count">Количество:</label>
                <input name="count" id="count" class="ml-3 mr-3" type="text" placeholder="Введите">
                <a class="cartBuy form-button">Заказать</a>
            </div>
        </div>
    </div>
</div>