<div class="row">
    <div class="col-xl-12 col-lg-12 pr-xl-5 pr-0 pl-xl-5 pl-0 pr-lg-0 pl-lg-0 order-xl-0 order-lg-0 order-5">
        <form class="d-flex justify-content-between flex-xl-row flex-lg-row flex-column align-items-center" action="">
            <label class="input-section d-flex justify-content-between" for="#count">Количество:<input id="count" type="text" placeholder="Введите"></label>
            <button class="form-button">Заказать</button>
        </form>
    </div>
</div>