{{> head }}
<body class="scroll-none">

    <div class="preloader">
        <div class="preloader-image">
            <img src="/images/backgrounds/product-bg.png" alt="bg">
        </div>
        <div class="preloader-box">
            <h3 class="text-center">Загрузка...</h3>
            <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

    {{> navbar}}
    {{{ body }}}
    {{> footer}}

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="/cart.js"></script>
    <script src="/app.js"></script>
</body>
</html>