<div class="container-fluid p-0">
    <div class="position-fixed cart-target">
        <a href="" class="open-cart" id="open-cart" data-toggle="modal" data-target="#callModal">
            <img src="/images/icons/cart.svg" alt="cart">
            <div class="position-absolute cart-count">
                <p class="text-center"></p>
            </div>
        </a>
    </div>
    <div class="add-success position-fixed animate__animated">

    </div>
    <div class="modal fade" id="callModal" tabindex="-1" aria-labelledby="callModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content form-box">
                <div class="modal-header">
                    <h5 class="f-30">Ваш заказ:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="row cart-content" id="cart_content">

                    </ul>
                    <h3 class="col-12 text-center pb-1" id="callModalLabel">Заполните поля</h3>
                    <form id="submitForm">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="cartInputName">Имя *</label>
                                    <input name="name" type="text" class="form-control required" id="cartInputName" placeholder="Введите имя">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="cartInputPhone">Номер телефона *</label>
                                    <input name="phone" type="tel" class="form-control required" id="cartInputPhone" placeholder="Введите телефон">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="cartInputEmail">Email *</label>
                                    <input name="email" type="email" class="form-control required" id="cartInputEmail" placeholder="Введите email">
                                </div>
                            </div>
                        </div>
                        <div id="recaptcha" class="g-recaptcha d-flex justify-content-center" data-sitekey="6LcDmBQeAAAAADOEL0zfoXRA_5VKwnv0KQ96DKNt" data-callback="verifyCallback"></div>
                        <div class="row justify-content-center pt-2">
                            <button class="divide-button" id="cartBuy">Заказать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="first-bg"></div>
    <div class="product-header d-flex flex-xl-row flex-lg-row flex-column align-items-center justify-content-xl-between justify-content-lg-between justify-content-around">
        <div class="product-logo d-xl-flex d-lg-flex align-items-center font-weight-bold d-none">
            <img src="images/logo/product-logo.svg" alt="">
            <div>СИБ<span>ПРОФМЕТАЛЛ</span></div>
        </div>
        <div class="product-category f-30 font-weight-bold">Трубопроводная арматура</div>
    </div>
</div>
<div class="product-body parallax">
    <div class="container-fluid">

        {{> drafts/draft1}}
        {{> drafts/draft2}}
        {{> drafts/draft3}}
        {{> drafts/draft4}}
        {{> drafts/draft5}}
        {{> drafts/draft6}}
        {{> drafts/draft7}}
        {{> drafts/draft8}}
        {{> drafts/draft33}}
        {{> drafts/draft9}}
        {{> drafts/draft10}}
        {{> drafts/draft11}}
        {{> drafts/draft12}}
        {{> drafts/draft13}}
        {{> drafts/draft14}}
        {{> drafts/draft15}}
        {{> drafts/draft16}}
        {{> drafts/draft17}}
        {{> drafts/draft18}}
        {{> drafts/draft19}}
        {{> drafts/draft20}}
        {{> drafts/draft21}}
        {{> drafts/draft22}}
        {{> drafts/draft23}}
        {{> drafts/draft24}}
        {{> drafts/draft25}}
        {{> drafts/draft26}}
        {{> drafts/draft27}}
        {{> drafts/draft28}}
        {{> drafts/draft29}}
        {{> drafts/draft30}}
        {{> drafts/draft31}}
        {{> drafts/draft32}}

    </div>
</div>

<div class="container-fluid p-0">
    <div class="map-wrapper pb-5">
        <div class="col-12 p-0">
            <div class="product-header d-flex flex-xl-row flex-lg-row flex-column align-items-center justify-content-xl-between justify-content-lg-between justify-content-around">
                <div class="product-logo d-xl-flex d-lg-flex align-items-center font-weight-bold d-none">
                    <img src="images/logo/product-logo.svg" alt="">
                    <div>СИБ<span>ПРОФМЕТАЛЛ</span></div>
                </div>
                <div class="product-category f-30 font-weight-bold">Карта сотрудничества</div>
            </div>
            <div class="row map justify-content-center mr-0">
                <div class="col-12">
                    <div class="product-name f-30 text-center font-weight-bold mt-5 mb-5">Завод СибПроф Металл является крупным заводом, работающим по Сибирскому и Уральскому федеральным округам</div>
                </div>
                <div class="map-img d-flex justify-content-center">
                    <img class="img-fluid" src="images/map.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>