<div class="container-fluid p-0">
    <div class="first-bg"></div>
    <div class="product-header d-flex align-items-center justify-content-between">
        <div class="product-logo d-flex align-items-center font-weight-bold">
            <img src="images/logo/product-logo.svg" alt="">
            <div>СИБ<span>ПРОФМЕТАЛЛ</span></div>
        </div>
        <div class="product-category font-weight-bold">Трубопроводная арматура</div>
    </div>
</div>
<div class="product-body parallax">
    <div class="container-fluid">

        {{> drafts/draft1}}
        {{> drafts/draft2}}
        {{> drafts/draft3}}
        {{> drafts/draft4}}
        {{> drafts/draft5}}
        {{> drafts/draft6}}
        {{> drafts/draft7}}
        {{> drafts/draft8}}
        {{> drafts/draft9}}
        {{> drafts/draft10}}
        {{> drafts/draft11}}
        {{> drafts/draft12}}
        {{> drafts/draft13}}
        {{> drafts/draft14}}
        {{> drafts/draft15}}
        {{> drafts/draft16}}
        {{> drafts/draft17}}

    </div>
</div>