<div class="container-fluid p-0">
    <div class="first-bg"></div>
    <div class="product-header d-flex align-items-center justify-content-between">
        <div class="product-logo d-flex align-items-center font-weight-bold">
            <img src="images/logo/product-logo.svg" alt="">
            <div>СИБ<span>ПРОФМЕТАЛЛ</span></div>
        </div>
        <div class="product-category font-weight-bold">Трубопроводная арматура</div>
    </div>
</div>
<div class="product-body parallax">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Сгон стальной (Ду 15 – Ду 219)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img class="img-fluid" src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <object id="object1" data="images/icons/бочонок.svg" type="image/svg+xml"></object>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Предназначен для резьбового соединения
                    трубопроводов. Представляет собой отрезок трубы, имеющий на концах трубную резьбу. На одном конце
                    резьба короткая, на другом длинная.<br><br>

                    Сгон чаще всего применяется для соединения двух
                    неподвижных трубопроводов, когда ни один из них
                    нельзя поворачивать.<br><br>

                    <span>Материал:</span> Сталь Ст20 <br>
                    <span>Тип присоединения:</span> Наружная резьба <br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                    <span>Исполнение:</span> Левое или правое
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                            <tr id="hover1">
                                <td>Dy, мм</td>
                                <td>15</td>
                                <td>20</td>
                                <td>25</td>
                                <td>32</td>
                                <td>40</td>
                                <td>50</td>
                                <td>65</td>
                                <td>80</td>
                                <td>100</td>
                                <td>150</td>
                                <td>219</td>
                            </tr>
                            <tr>
                                <td>L, мм</td>
                                <td id="hover2">95</td>
                                <td id="hover2">100</td>
                                <td id="hover2">120</td>
                                <td id="hover2">120</td>
                                <td id="hover2">130</td>
                                <td id="hover2">135</td>
                                <td id="hover2">170</td>
                                <td id="hover2">180</td>
                                <td id="hover2">190</td>
                                <td id="hover2">190</td>
                                <td id="hover2">210</td>
                            </tr>
                            <tr>
                                <td>Вес</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Полусгон стальной (Ду 15 – Ду 219)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Полусгон это отрезок трубы с одной стороны длинная
                    резьба с другой стороны под сварку. Стоит отметить,
                    что стальной полусгон является частью трубопровода
                    и используется для соединения или разветвления его
                    отдельных частей<br><br>

                    <span>Материал:</span> Сталь Ст20 <br>
                    <span>Тип присоединения:</span> Наружная резьба <br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                            <td>65</td>
                            <td>80</td>
                            <td>100</td>
                            <td>150</td>
                            <td>219</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>95</td>
                            <td>100</td>
                            <td>120</td>
                            <td>120</td>
                            <td>130</td>
                            <td>135</td>
                            <td>170</td>
                            <td>180</td>
                            <td>190</td>
                            <td>190</td>
                            <td>210</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Резьба стальная (Ду 15 – Ду 219)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Фитинг для надежного соединения с металлическим
                    трубопроводом. Используется в отопительных системах,
                    воздуховодах, магистралях холодного и горячего
                    водоснабжения. С одной стороны такой фитинг имеет
                    наружную резьбу, другая сторона приваривается к
                    трубопроводу с помощью газо- или электросварки.
                    Резьбы необходимы для крепления различных деталей и
                    оборудования.<br><br>

                    <span>Материал:</span> Сталь Ст20 <br>
                    <span>Тип присоединения:</span> Наружная резьба <br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                            <td>65</td>
                            <td>80</td>
                            <td>100</td>
                            <td>150</td>
                            <td>219</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>42</td>
                            <td>42</td>
                            <td>42</td>
                            <td>42</td>
                            <td>42</td>
                            <td>42</td>
                            <td>70</td>
                            <td>80</td>
                            <td>100</td>
                            <td>120</td>
                            <td>140</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Ерш двусторонний стальной (Ду 15 – Ду 219)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Ёрш соединительный позволяет состыковать трубки
                    и шланги разных диаметров. Данные соединения
                    часто используются в трубопроводах химической,
                    нефтегазовой, энергетической, коммунальной и многих
                    других сферах промышленности.<br><br>

                    <span>Материал:</span> Сталь Ст20 <br>
                    <span>Тип присоединения:</span> Ерш-ерш <br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                            <td>65</td>
                            <td>80</td>
                            <td>100</td>
                            <td>150</td>
                            <td>219</td>
                            <td>273</td>
                            <td>325</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>55</td>
                            <td>55</td>
                            <td>60</td>
                            <td>70</td>
                            <td>80</td>
                            <td>80</td>
                            <td>80</td>
                            <td>90</td>
                            <td>90</td>
                            <td>160</td>
                            <td>160</td>
                            <td>270</td>
                            <td>350</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Ерш-резьба стальной (Ду 15 – Ду 219)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Штуцер представляет собой металлическое изделие,
                    на одном из концов которого нарезана наружная
                    резьба, а на другом, так называемая елочка под шланг.
                    Предназначен для соединения трубопровода, ёмкостей,
                    вентилей и других деталей газовых и жидкостных
                    передаточных и преобразующих систем.<br><br>

                    <span>Материал:</span> Сталь Ст20 <br>
                    <span>Тип присоединения:</span> Ерш-наружная резьба <br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                            <td>65</td>
                            <td>76</td>
                            <td>80</td>
                            <td>100</td>
                            <td>150</td>
                            <td>219</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>55</td>
                            <td>55</td>
                            <td>60</td>
                            <td>70</td>
                            <td>80</td>
                            <td>80</td>
                            <td>80</td>
                            <td>90</td>
                            <td>90</td>
                            <td>160</td>
                            <td>160</td>
                            <td>170</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Ерш приварной стальной (Ду 15 – Ду 219)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Фитинг цилиндрической формы, с ершом для шланга
                    и приварным патрубком . У данного ерша одинаковый
                    наружный диаметр патрубка под сварку и ерша.
                    Приварной ёрш под шланг изготавливается из труб и
                    предназначается для крепления шлангов и рукавов к
                    оборудованию и трубам методом сварки.<br><br>

                    <span>Материал:</span> Сталь Ст20 <br>
                    <span>Тип присоединения:</span> Ерш-сварка <br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                            <td>65</td>
                            <td>76</td>
                            <td>80</td>
                            <td>100</td>
                            <td>150</td>
                            <td>219</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>55</td>
                            <td>55</td>
                            <td>60</td>
                            <td>70</td>
                            <td>80</td>
                            <td>80</td>
                            <td>80</td>
                            <td>90</td>
                            <td>90</td>
                            <td>160</td>
                            <td>160</td>
                            <td>170</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Муфта стальная (Ду 15 – Ду 100)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Муфта представляет с собой трубку с нарезанной
                    внутренней резьбой и используется для соединения
                    различных участков трубопровода,
                    а также для присоединения насосов и насосных частей
                    к трубопроводам.
                    Муфтовые соединения — универсальные резьбовые
                    соединения для подключения любой трубной арматуры.<br><br>

                    <span>Материал:</span> Сталь Ст20 <br>
                    <span>Тип присоединения:</span> Внутренняя резьба <br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                            <td>65</td>
                            <td>80</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>32</td>
                            <td>40</td>
                            <td>48</td>
                            <td>48</td>
                            <td>65</td>
                            <td>65</td>
                            <td>70</td>
                            <td>80</td>
                            <td>90</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Контргайка стальная (Ду 15 – Ду 100)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Контрагайка — соединительный элемент трубопроводов,
                    предназначенный для предотвращения
                    самопроизвольного раскручивания от вибраций,
                    перепадов температур других соединительных частей,
                    таких как сгон или муфта. Контргайки значительно
                    повышают надежность герметичного резьбового
                    соединения труб.<br><br>

                    <span>Материал:</span> Сталь Ст3-X45<br>
                    <span>Тип присоединения:</span> Внутренняя резьба <br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                    <span>Стандарт изготовления:</span> ГОСТ 8968-75 <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                            <td>65</td>
                            <td>80</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Отвод гнутый стальной с двумя резьбами (Ду 15 – Ду 50)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Гнутый отвод — фасонная деталь трубопровода,
                    предназначенная для изменения направления потока
                    рабочего материала и изготовленная методом гнутья.
                    Гнутый отвод позволяет соединять трубы под требуемым
                    по проекту углом.<br><br>

                    <span>Материал:</span> Сталь Ст20<br>
                    <span>Тип присоединения:</span> Резьба-резьба <br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>190</td>
                            <td>200</td>
                            <td>275</td>
                            <td>370</td>
                            <td>390</td>
                            <td>450</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Отвод гнутый стальной с одной резьбой (Ду 15 – Ду 50)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Гнутый отвод — фасонная деталь трубопровода,
                    предназначенная для изменения направления потока
                    рабочего материала и изготовленная методом гнутья.
                    Гнутый отвод позволяет соединять трубы под требуемым
                    по проекту углом.<br><br>

                    <span>Материал:</span> Сталь Ст20<br>
                    <span>Тип присоединения:</span> Резьба-резьба <br>
                    <span>Длина резьбы:</span> от 20 до 50 мм<br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>190</td>
                            <td>200</td>
                            <td>275</td>
                            <td>370</td>
                            <td>390</td>
                            <td>450</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Отвод гнутый стальной приварной (Ду 15 – Ду 50)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Гнутый отвод — фасонная деталь трубопровода,
                    предназначенная для изменения направления потока
                    рабочего материала и изготовленная методом гнутья.
                    Гнутый отвод позволяет соединять трубы под требуемым
                    по проекту углом.<br><br>

                    <span>Материал:</span> Сталь Ст20<br>
                    <span>Тип присоединения:</span> Сварка<br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>190</td>
                            <td>200</td>
                            <td>275</td>
                            <td>370</td>
                            <td>390</td>
                            <td>450</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Отвод «Утка» стальной две резьбы (Ду 15 – Ду 50)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    «Утка» — это элемент трубопровода с двумя изогнутыми
                    частями. Чаще всего изгиб крайних участков этого
                    элемента выполняется под углом 135º. Как правило,
                    «утки» используются при монтаже линии сети в том
                    случае, когда присоединяемая к ней деталь занимает
                    положение не в одной плоскости с подводящим
                    трубопроводом.<br><br>

                    <span>Материал:</span> Сталь Ст20<br>
                    <span>Тип присоединения:</span> Резьба-резьба<br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>550</td>
                            <td>550</td>
                            <td>600</td>
                            <td>700</td>
                            <td>800</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Отвод «Утка» стальной одна резьба (Ду 15 – Ду 50)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    «Утка» — это элемент трубопровода с двумя изогнутыми
                    частями. Чаще всего изгиб крайних участков этого
                    элемента выполняется под углом 135º. Как правило,
                    «утки» используются при монтаже линии сети в том
                    случае, когда присоединяемая к ней деталь занимает
                    положение не в одной плоскости с подводящим
                    трубопроводом.<br><br>

                    <span>Материал:</span> Сталь Ст20<br>
                    <span>Тип присоединения:</span> Резьба-резьба<br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>550</td>
                            <td>550</td>
                            <td>600</td>
                            <td>700</td>
                            <td>800</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Отвод «Утка» стальной без резьбы (Ду 15 – Ду 50)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    «Утка» — это элемент трубопровода с двумя изогнутыми
                    частями. Чаще всего изгиб крайних участков этого
                    элемента выполняется под углом 135º. Как правило,
                    «утки» используются при монтаже линии сети в том
                    случае, когда присоединяемая к ней деталь занимает
                    положение не в одной плоскости с подводящим
                    трубопроводом<br><br>

                    <span>Материал:</span> Сталь Ст20<br>
                    <span>Тип присоединения:</span> Резьба-резьба<br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>550</td>
                            <td>550</td>
                            <td>600</td>
                            <td>700</td>
                            <td>800</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Обвод стальной две резьбы (Ду 15 – Ду 50)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Обвод стальной — это фитинг, который применяется при
                    организации трубопроводных систем, позволят обойти
                    различные препятствия: инженерные коммуникации и
                    конструкции. Используется в системах как холодного,
                    так и горячего водоснабжения, применяется для систем
                    отопления при прокладке трубопроводов.<br><br>

                    <span>Материал:</span> Сталь Ст20<br>
                    <span>Тип присоединения:</span> Резьба-резьба<br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>550</td>
                            <td>550</td>
                            <td>600</td>
                            <td>700</td>
                            <td>800</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Обвод стальной одна резьба (Ду 15 – Ду 50)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Обвод стальной — это фитинг, который применяется при
                    организации трубопроводных систем, позволят обойти
                    различные препятствия: инженерные коммуникации и
                    конструкции. Используется в системах как холодного,
                    так и горячего водоснабжения, применяется для систем
                    отопления при прокладке трубопроводов.<br><br>

                    <span>Материал:</span> Сталь Ст20<br>
                    <span>Тип присоединения:</span> Резьба-резьба<br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>550</td>
                            <td>550</td>
                            <td>600</td>
                            <td>700</td>
                            <td>800</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Обвод стальной без резьбы (Ду 15 – Ду 50)</div>
            </div>
            <div class="col-5 product-gif d-flex justify-content-center align-items-center">
                <img src="images/gif.jpg" alt="">
            </div>
            <div class="col-6 offset-1 product-draft">
                <div class="product-draft-img">
                    <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect id="Dy"  width="200" height="5" fill="black"/>
                        <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                        <rect id="Ly2" width="5" height="200" fill="black"/>
                        <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
                    </svg>
                </div>
                <div class="product-draft-hover">

                </div>
            </div>
            <div class="col-5 product-description ml-5 pr-5">
                <div class="description-title f-30 font-weight-bold">Описание:</div>
                <div class="description-text f-20">
                    Обвод стальной — это фитинг, который применяется при
                    организации трубопроводных систем, позволят обойти
                    различные препятствия: инженерные коммуникации и
                    конструкции. Используется в системах как холодного,
                    так и горячего водоснабжения, применяется для систем
                    отопления при прокладке трубопроводов.<br><br>

                    <span>Материал:</span> Сталь Ст20<br>
                    <span>Тип присоединения:</span> Сварка-сварка<br>
                    <span>Покрытие:</span> Черное или оцинкованное <br>
                </div>
            </div>
            <div class="col-6 product-tables">
                <div class="row mt-5">
                    <table class="iksweb">
                        <tbody>
                        <tr>
                            <td>Dy, мм</td>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>L, мм</td>
                            <td>550</td>
                            <td>550</td>
                            <td>600</td>
                            <td>700</td>
                            <td>800</td>
                            <td>800</td>
                        </tr>
                        <tr>
                            <td>Вес</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
