<div class="row product">
    <div class="col-12">
        <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Ерш двусторонний стальной (Ду 15 – Ду 219)</div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-12 product-gif d-flex justify-content-center align-items-center order-xl-0 order-lg-0 order-1">
        <img class="img-fluid" src="images/gif.jpg" alt="">
    </div>
    <div class="col-xl-6 col-lg-6 offset-xl-1 offset-lg-1 col-md-12 offset-md-0 product-draft d-flex justify-content-center align-items-center order-xl-0 order-lg-0 order-3">
        <div class="product-draft-img">
            <object class="img-fluid" data="images/icons/ersh.svg" type="image/svg+xml"></object>
</div>

    </div>
    <div class="col-xl-5 col-lg-4 col-md-12 product-description ml-xl-5 ml-lg-5 ml-0 pr-xl-5 pr-lg-5 pr-0 order-xl-0 order-lg-0 order-2">
        <div class="description-title mt-xl-0 mt-lg-0 mt-4 f-30 text-xl-left text-lg-left text-center font-weight-bold">Описание:</div>
        <div class="description-text mt-xl-0 mt-lg-0 mt-4 mb-xl-0 mb-lg-0 mb-4 f-20 text-xl-left text-lg-left text-center">
            Ёрш соединительный позволяет состыковать трубки
            и шланги разных диаметров. Данные соединения
            часто используются в трубопроводах химической,
            нефтегазовой, энергетической, коммунальной и многих
            других сферах промышленности.<br><br>

            <span>Материал:</span> Сталь Ст20 <br>
            <span>Тип присоединения:</span> Ерш-ерш <br>
            <span>Покрытие:</span> Черное или оцинкованное <br>
        </div>
    </div>
    <div class="col-xl-5 offset-xl-1 offset-lg-1 col-lg-6 col-md-12 product-tables p-xl-0 p-lg-0 p-5 order-xl-0 order-lg-0 order-4 d-md-flex justify-content-center">
        <div class="container">
            <div class="row mt-xl-5 mt-lg-5 mt-0">
                <div class="col-12 p-0 table-responsive">
                    <table class="table table-striped table-responsive table-hover">
                        <tbody class="table">
                        <tr class="Dy">
                            <th class="f-20" scope="row">D, мм</th>
                            <td>15</td>
                            <td>20</td>
                            <td>25</td>
                            <td>32</td>
                            <td>40</td>
                            <td>50</td>
                            <td>76</td>
                            <td>89</td>
                            <td>108</td>
                            <td>114</td>
                            <td>123</td>
                            <td>159</td>
                            <td>219</td>
                        </tr>
                        <tr class="S">
                            <th class="f-20" scope="row">S, мм</th>
                            <td>2,8</td>
                            <td>2,8</td>
                            <td>3,2</td>
                            <td>3,2</td>
                            <td>3,5</td>
                            <td>3,5</td>
                            <td>3,5</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                        <tr class="L">
                            <th class="f-20" scope="row">L, мм</th>
                            <td>60</td>
                            <td>70</td>
                            <td>70</td>
                            <td>70</td>
                            <td>80</td>
                            <td>90</td>
                            <td>160</td>
                            <td>170</td>
                            <td>108</td>
                            <td>114</td>
                            <td>123</td>
                            <td>159</td>
                            <td>219</td>
                        </tr>
                        <tr class="I1">
                            <th class="f-20" scope="row">I1, мм</th>
                            <td>5</td>
                            <td>5</td>
                            <td>6</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr class="I2">
                            <th class="f-20" scope="row">I2, мм</th>
                            <td>20</td>
                            <td>20</td>
                            <td>31</td>
                            <td>30</td>
                            <td>20</td>
                            <td>30</td>
                            <td>60</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <th class="f-20" scope="row">Вес</th>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {{> form}}
        </div>
    </div>
</div>