<div class="row">
    <div class="col-12">
        <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Ерш двусторонний стальной (Ду 15 – Ду 219)</div>
    </div>
    <div class="col-5 product-gif d-flex justify-content-center align-items-center">
        <img src="images/gif.jpg" alt="">
    </div>
    <div class="col-6 offset-1 product-draft">
        <div class="product-draft-img">
            <svg width="203" height="200" viewBox="0 0 203 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect id="Dy"  width="200" height="5" fill="black"/>
                <rect id="Ly" y="195" width="200" height="5" fill="black"/>
                <rect id="Ly2" width="5" height="200" fill="black"/>
                <rect id="Dy2" x="198" width="5" height="200" fill="black"/>
            </svg>
        </div>
        <div class="product-draft-hover">

        </div>
    </div>
    <div class="col-5 product-description ml-5 pr-5">
        <div class="description-title f-30 font-weight-bold">Описание:</div>
        <div class="description-text f-20">
            Ёрш соединительный позволяет состыковать трубки
            и шланги разных диаметров. Данные соединения
            часто используются в трубопроводах химической,
            нефтегазовой, энергетической, коммунальной и многих
            других сферах промышленности.<br><br>

            <span>Материал:</span> Сталь Ст20 <br>
            <span>Тип присоединения:</span> Ерш-ерш <br>
            <span>Покрытие:</span> Черное или оцинкованное <br>
        </div>
    </div>
    <div class="col-6 product-tables">
        <div class="row mt-5">
            <table class="iksweb">
                <tbody>
                <tr>
                    <td>Dy, мм</td>
                    <td>15</td>
                    <td>20</td>
                    <td>25</td>
                    <td>32</td>
                    <td>40</td>
                    <td>50</td>
                    <td>65</td>
                    <td>80</td>
                    <td>100</td>
                    <td>150</td>
                    <td>219</td>
                    <td>273</td>
                    <td>325</td>
                </tr>
                <tr>
                    <td>L, мм</td>
                    <td>55</td>
                    <td>55</td>
                    <td>60</td>
                    <td>70</td>
                    <td>80</td>
                    <td>80</td>
                    <td>80</td>
                    <td>90</td>
                    <td>90</td>
                    <td>160</td>
                    <td>160</td>
                    <td>270</td>
                    <td>350</td>
                </tr>
                <tr>
                    <td>Вес</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>