<div class="row product">
    <div class="col-12">
        <div class="product-name f-30 text-center font-weight-bold f-white mt-5 mb-5">Сгон стальной (Ду 15 – Ду 219)</div>
    </div>
    <div class="col-5 product-gif d-flex justify-content-center align-items-center">
        <img class="img-fluid" src="images/gif.jpg" alt="">
    </div>
    <div class="col-6 offset-1 product-draft">
        <div class="product-draft-img">
            <object data="images/icons/бочонок.svg" type="image/svg+xml"></object>
        </div>
        <div class="product-draft-hover">

        </div>
    </div>
    <div class="col-5 product-description ml-5 pr-5">
        <div class="description-title f-30 font-weight-bold">Описание:</div>
        <div class="description-text f-20">
            Предназначен для резьбового соединения
            трубопроводов. Представляет собой отрезок трубы, имеющий на концах трубную резьбу. На одном конце
            резьба короткая, на другом длинная.<br><br>

            Сгон чаще всего применяется для соединения двух
            неподвижных трубопроводов, когда ни один из них
            нельзя поворачивать.<br><br>

            <span>Материал:</span> Сталь Ст20 <br>
            <span>Тип присоединения:</span> Наружная резьба <br>
            <span>Покрытие:</span> Черное или оцинкованное <br>
            <span>Исполнение:</span> Левое или правое
        </div>
    </div>
    <div class="col-6 product-tables">
        <div class="row mt-5">
            <table class="iksweb">
                <tbody class="table">
                <tr class="Dy">
                    <td>Dy, мм</td>
                    <td>15</td>
                    <td>20</td>
                    <td>25</td>
                    <td>32</td>
                    <td>40</td>
                    <td>50</td>
                    <td>65</td>
                    <td>80</td>
                    <td>100</td>
                    <td>150</td>
                    <td>219</td>
                </tr>
                <tr class="L">
                    <td>L, мм</td>
                    <td>95</td>
                    <td>100</td>
                    <td>120</td>
                    <td>120</td>
                    <td>130</td>
                    <td>135</td>
                    <td>170</td>
                    <td>180</td>
                    <td>190</td>
                    <td>190</td>
                    <td>210</td>
                </tr>
                <tr>
                    <td>Вес</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>