.first-bg{
    background: url("../images/backgrounds/first-bg.svg") center center/cover no-repeat;
    width: 100%;
    height: 100vh;
}
.product-header{
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #167AB6 -1.5%, #FFFFFF 6.68%, #167AB6 11.96%, #167AB6 99.39%);
}
.product-logo{
    color: #ffffff;
    margin-left: 4%;
    font-size: 30px;
}
.product-logo span{
    color: #000000;
}
.product-logo div{
    margin-left: 20px;
}
.product-category{
    color: #FFFFFF;
    margin-right: 85px;
    text-transform: uppercase;
}
.product-gif{
    width: 100%;
    height: 360px;
    background: #167AB6;
    box-shadow: -6px 0px 15px rgba(255, 255, 255, 0.9), 7px 6px 15px rgba(255, 255, 255, 0.9), 0px 7px 15px rgba(0, 0, 0, 0.7);
    border-radius: 0px 60px 60px 0px;
}
.product-gif img{
    max-height: 90%;
}
.product-draft{
    width: 100%;
    height: 460px;
    background: #167AB6;
    box-shadow: 0px -3px 15px rgba(255, 255, 255, 0.9), 0px 4px 19px rgba(0, 0, 0, 0.7), 10px 0px 15px #FFFFFF;
    border-radius: 60px 0px 0px 60px;
}
.product-draft-img{
    width: 80%;
    height: 80%;
}
.description-title{
    color: #167AB6;
}
.description-text span{
    font-weight: bold;
}
.table th{
    border-top: none;
    border-right: 1px solid #000000;
}
.table td{
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    border-top: none;
    border-right: 1px solid #000000;
    transition: 0.4s all;
}
.table td:hover{
    cursor: pointer;
    background: #167AB6;
    color: #FFFFFF;
}
.input-section{
    width: 300px;
    height: 50px;
    background: #167AB6;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 0;
    color: #FFFFFF;
    font-size: 28px;
    filter: drop-shadow(0px 2px 5px rgba(22, 122, 182, 0.7));
}
.input-section input{
    width: 100px;
    height: 30px;
    border: 1px solid #FFFFFF;
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    margin-top: 9px;
    padding-left: 4px;
}
.input-section input:focus{
    outline: #FFFFFF;
}
.form-button{
    width: 200px;
    height: 50px;
    border: none;
    background: #167AB6;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    font-size: 28px;
    color: #FFFFFF;
    transition: 0.4s all;
}
.form-button:hover{
    color: #167AB6;
    background: #FFFFFF;
    border: 1px solid #167AB6;
    box-shadow: 0px 6px 10px rgba(22, 122, 182, 0.26);
}
.map-wrapper{
    background: linear-gradient(180deg, #167AB6 0%, rgba(246, 250, 252, 0.59) 63.17%, #B3D9F0 72.41%, #167AB6 113.78%);
    height: 100%;
}
.map-img{
    width: 80%;
    height: 80%;
}

.product-draft-img object {
    width: 100%;
    height: 100%;
}
