@media (max-width: 1199px) {

}

@media (max-width: 991px) {
     .product-gif{
         border-radius: 0 0 0 0;
     }
    .product-draft{
        border-radius: 0 0 0 0;
    }
    .product-header{
        background: #167AB6;
    }
    .product-category{
        margin-right: 0;
        text-align: center;
    }
    .form-button{
        width: 300px;
    }
}

@media (max-width: 767px) {
    .product-logo{
        margin-left: 0;
    }
    .cart-content{
        padding-left: 0;
    }

}

@media (max-width: 575px) {
    .f-30{
        font-size: 24px;
    }
}

@media (max-width: 380px) {

}